@{
    ViewData["Title"] = "Home page";
}
@section css{
    <link href="@Url.Content("~/css/home.css")" rel="stylesheet" type="text/css" />
}
<section class="home section">
    <div class="container">
        <div class="intro">
            <img src="/images/profilbild2.jpg" alt="profile" class="shadow-dark">
            <h1>Salwa Abdul-Rahman</h1>
            <p>Cloud Utvecklare</p>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/salwa-abdul-rahman-b647571b5/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/SalwaRaa?tab=repositories" target="_blank" rel="noopener noreferrer"><i class="fa fa-github-square"></i></a>
            </div>
        </div>
    </div>
</section>

