.home{
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
}
.home .intro{
    text-align: center;
    margin-left: 120px;
}

.home .intro img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: inline-block;
    border: 8px solid #ffffff;
    object-fit: cover;
    object-position: center top;
    object-position: 0 -16px;
}

.home .intro h1{
    font-size: 30px;
    color: #302e4d;
    font-family: 'Rubik', sans-serif;
    margin:20px 0 5px;
}

.home .intro p{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    line-height: 22px; 
    color: #504e70;
}
.home .intro .social-links{
    margin-top: 25px;
} 
.home .intro .social-links a{
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    margin: 0 4px;
    border-radius: 50%;
    text-decoration:none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.home .intro .social-links a:hover{ 
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
