@{ ViewData["Title"] = "Conatct page"; 
 }

@section css{
    <link href="@Url.Content("~/css/contact.css")" rel="stylesheet" type="text/css"/>
}
<!-- Contact Section -->
<section class="contact section" id="contact">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h2>Kontakta mig</h2>
            </div>
        </div>
        <div class="row">
            <!-- contact-info-item -->
            <div class="contact-info-item padd-50">
                <div class="icon"><i class="fa fa-phone"></i></div>
                <h4>Mobilnummer</h4>
                <p>+46 736 92 51 51</p>
            </div>
            <!-- contact-info-item End -->
            <!-- contact-info-item -->
            <div class="contact-info-item padd-50">
                <div class="icon">
                    <a href="https://www.linkedin.com/in/salwa-abdul-rahman-b647571b5/" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                </div>
                <h4>LinkedIn</h4>
            </div>
            <!-- contact-info-item End -->
            <!-- contact-info-item -->
            <div class="contact-info-item padd-50">
                <div class="icon"><i class="fa fa-envelope"></i></div>
                <h4>Email</h4>
                <p>salwaa.abdulrahman@gmail.com</p>
            </div>
            <!-- contact-info-item End -->
        </div>
    </div>
</section>